{
    "openapi": "3.0.1",
    "info": {
        "title": "Lists",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "STARTER",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "You want to bulk add contacts to a particular list, or remove company records from a company list.",
        "x-hubspot-related-documentation": [
            {
                "name": "Lists Guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/crm/lists/overview"
            }
        ],
        "x-hubspot-introduction": "Use the lists API to manage list memberships for object lists."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/lists"
        }
    ],
    "tags": [
        {
            "name": "Lists"
        },
        {
            "name": "Memberships"
        },
        {
            "name": "Folders"
        },
        {
            "name": "Mapping"
        }
    ],
    "paths": {
        "/{listId}/update-list-name": {
            "put": {
                "tags": [
                    "Lists"
                ],
                "summary": "Update List Name",
                "description": "Update the name of a list. The name must be globally unique relative to all other public lists in the portal.",
                "operationId": "put-/{listId}/update-list-name_updateName",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listName",
                        "in": "query",
                        "description": "The name to update the list to",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships/add-and-remove": {
            "put": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Add and/or Remove Records from a List",
                "description": "Add and\/or remove records that have already been created in the system to and\/or from a list.\n\nThis endpoint only works for lists that have a _processingType_ of _MANUAL_ or _SNAPSHOT_.",
                "operationId": "put-/{listId}/memberships/add-and-remove_addAndRemove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the _MANUAL_ or _SNAPSHOT_ list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MembershipChangeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}": {
            "get": {
                "tags": [
                    "Lists"
                ],
                "summary": "Fetch List by ID",
                "description": "Fetch a single list by **ILS list ID**.",
                "operationId": "get-/{listId}_getById",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to fetch",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Lists"
                ],
                "summary": "Delete a List",
                "description": "Delete a list by **ILS list ID**. Lists deleted through this endpoint can be restored up to 90-days following the delete. After 90-days, the list is purged and can no longer be restored.",
                "operationId": "delete-/{listId}_remove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/update-list-filters": {
            "put": {
                "tags": [
                    "Lists"
                ],
                "summary": "Update List Filter Definition",
                "description": "Update the filter branch definition of a _DYNAMIC_ list. Once updated, the list memberships will be re-evaluated and updated to match the new definition.",
                "operationId": "put-/{listId}/update-list-filters_updateListFilters",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "enrollObjectsInWorkflows",
                        "in": "query",
                        "description": "A flag indicating whether or not the memberships added to the list as a result of the filter change should be enrolled in workflows that are relevant to this list",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListFilterUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Lists"
                ],
                "summary": "Search Lists",
                "description": "Search lists by list name or page through all lists by providing an empty _query_ value.",
                "operationId": "post-/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListSearchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/folders/move-list": {
            "put": {
                "tags": [
                    "Folders"
                ],
                "summary": "Moves a list to a given folder",
                "description": "Given a list and a folder, the list will be moved to that folder.",
                "operationId": "put-/folders/move-list_moveList",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListMoveRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships/add": {
            "put": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Add Records to a List",
                "description": "Add the records provided to the list. Records that do not exist or that are already members of the list are ignored.\n\nThis endpoint only works for lists that have a _processingType_ of _MANUAL_ or _SNAPSHOT_.",
                "operationId": "put-/{listId}/memberships/add_add",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the _MANUAL_ or _SNAPSHOT_ list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/object-type-id/{objectTypeId}/name/{listName}": {
            "get": {
                "tags": [
                    "Lists"
                ],
                "summary": "Fetch List by Name",
                "description": "Fetch a single list by list name and object type.",
                "operationId": "get-/object-type-id/{objectTypeId}/name/{listName}_getByName",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "The name of the list to fetch. This is **not** case sensitive",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "objectTypeId",
                        "in": "path",
                        "description": "The object type ID of the object types stored by the list to fetch. For example, _0-1_ for a _CONTACT_ list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/folders/{folderId}/move/{newParentFolderId}": {
            "put": {
                "tags": [
                    "Folders"
                ],
                "summary": "Moves a folder",
                "description": "This moves the folder from its current location to a new location. It updates the parent of this folder to the new Id given.",
                "operationId": "put-/folders/{folderId}/move/{newParentFolderId}_move",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "The unique identifier of the folder to be moved.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newParentFolderId",
                        "in": "path",
                        "description": "The unique identifier of the destination parent folder.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/idmapping": {
            "get": {
                "tags": [
                    "Mapping"
                ],
                "summary": "Translate legacy list ID to modern ID",
                "description": "This API allows translation of legacy list id to list id. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
                "operationId": "get-/idmapping_translateLegacyListIdToListId",
                "parameters": [
                    {
                        "name": "legacyListId",
                        "in": "query",
                        "description": "The legacy list id from lists v1 API",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicMigrationMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Mapping"
                ],
                "summary": "Batch translate legacy list IDs",
                "description": "This API allows translation of a batch of legacy list id's to list id's. This allows for a maximum of 10,000 id's. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
                "operationId": "post-/idmapping_translateLegacyListIdToListIdBatch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicBatchMigrationMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/restore": {
            "put": {
                "tags": [
                    "Lists"
                ],
                "summary": "Restore a List",
                "description": "Restore a previously deleted list by **ILS list ID**. Deleted lists are eligible to be restored up-to 90-days after the list has been deleted.",
                "operationId": "put-/{listId}/restore_restore",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to restore",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/folders/{folderId}/rename": {
            "put": {
                "tags": [
                    "Folders"
                ],
                "summary": "Rename a folder",
                "description": "Renames the given folderId with a new name.",
                "operationId": "put-/folders/{folderId}/rename_rename",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "The unique identifier of the folder to be renamed.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newFolderName",
                        "in": "query",
                        "description": "The new name to assign to the folder.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships/join-order": {
            "get": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Get memberships by join date",
                "description": "Fetch the memberships of a list in order sorted by the time the records were added to the list.\n\nThe _recordId_s are sorted in *ascending* order if an _after_ offset or no offset is provided. If only a _before_ offset is provided, then the records are sorted in *descending* order.\n\nThe _after_ offset parameter will take precedence over the _before_ offset in a case where both are provided.",
                "operationId": "get-/{listId}/memberships/join-order_getPageOrderedByAddedToListDate",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging offset token for the page that comes _after_ the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the _before_ offset",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "The paging offset token for the page that comes _before_ the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return in the response. The maximum _limit_ is 250",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships/add-from/{sourceListId}": {
            "put": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Add all records from source list",
                "description": "Add all of the records from a *source list* (specified by the _sourceListId_) to a *destination list* (specified by the _listId_). Records that are already members of the *destination list* will be ignored. The *destination* and *source list* IDs must be different. The *destination* and *source lists* must contain records of the same type (e.g. contacts, companies, etc.).\n\nThis endpoint only works for *destination lists* that have a _processingType_ of _MANUAL_ or _SNAPSHOT_. The *source list* can have any _processingType_.\n\nThis endpoint only supports a _sourceListId_ for lists with less than 100,000 memberships.",
                "operationId": "put-/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the _MANUAL_ or _SNAPSHOT_ *destination list*, which the *source list* records are added to",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sourceListId",
                        "in": "path",
                        "description": "The **ILS ID** of the *source list* to grab the records from, which are then added to the *destination list*",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/records/{objectTypeId}/{recordId}/memberships": {
            "get": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Get lists record is member of",
                "description": "For given record provide lists this record is member of.",
                "operationId": "get-/records/{objectTypeId}/{recordId}/memberships_getLists",
                "parameters": [
                    {
                        "name": "objectTypeId",
                        "in": "path",
                        "description": "Object type id of the record",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recordId",
                        "in": "path",
                        "description": "Id of the record",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Lists"
                ],
                "summary": "Fetch Multiple Lists",
                "description": "Fetch multiple lists in a single request by **ILS list ID**. The response will include the definitions of all lists that exist for the _listIds_ provided.",
                "operationId": "get-/_getAll",
                "parameters": [
                    {
                        "name": "listIds",
                        "in": "query",
                        "description": "The **ILS IDs** of the lists to fetch",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definitions should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListsByIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Lists"
                ],
                "summary": "Create List",
                "description": "Create a new list with the provided object list definition.",
                "operationId": "post-/_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write"
                        ]
                    }
                ]
            }
        },
        "/folders": {
            "get": {
                "tags": [
                    "Folders"
                ],
                "summary": "Retrieves a folder.",
                "description": "Retrieves a folder and recursively includes all folders via the childNodes attribute.  The child lists field will be empty in all child nodes. Only the folder retrieved will include the child lists in that folder.",
                "operationId": "get-/folders_getAll",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "query",
                        "description": "The Id of the folder to retrieve",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Folders"
                ],
                "summary": "Creates a folder",
                "description": "Creates a folder with the given information.",
                "operationId": "post-/folders_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListFolderCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/folders/{folderId}": {
            "delete": {
                "tags": [
                    "Folders"
                ],
                "summary": "Deletes a folder",
                "description": "Deletes the folder with the given Id.",
                "operationId": "delete-/folders/{folderId}_remove",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "The unique identifier of the folder to be deleted.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships": {
            "get": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Fetch List Memberships Ordered by ID",
                "description": "Fetch the memberships of a list in order sorted by the _recordId_ of the records in the list.\n\nThe _recordId_s are sorted in *ascending* order if an _after_ offset or no offset is provided. If only a _before_ offset is provided, then the records are sorted in *descending* order.\n\nThe _after_ offset parameter will take precedence over the _before_ offset in a case where both are provided.",
                "operationId": "get-/{listId}/memberships_getPage",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging offset token for the page that comes _after_ the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the _before_ offset",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "The paging offset token for the page that comes _before_ the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return in the response. The maximum _limit_ is 250",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Delete All Records from a List",
                "description": "Remove **all** of the records from a list. ***Note:*** *The list is not deleted.*\n\nThis endpoint only works for lists that have a _processingType_ of _MANUAL_ or _SNAPSHOT_.\n\nThis endpoint only supports lists that have less than 100,000 memberships.",
                "operationId": "delete-/{listId}/memberships_removeAll",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the _MANUAL_ or _SNAPSHOT_ list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/{listId}/memberships/remove": {
            "put": {
                "tags": [
                    "Memberships"
                ],
                "summary": "Remove Records from a List",
                "description": "Remove the records provided from the list. Records that do not exist or that are not members of the list are ignored.\n\nThis endpoint only works for lists that have a _processingType_ of _MANUAL_ or _SNAPSHOT_.",
                "operationId": "put-/{listId}/memberships/remove_remove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the _MANUAL_ or _SNAPSHOT_ list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.lists.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "PublicPropertyAssociationFilterBranch": {
                "title": "PROPERTY_ASSOCIATION",
                "required": [
                    "filterBranchOperator",
                    "filterBranchType",
                    "filterBranches",
                    "filters",
                    "objectTypeId",
                    "operator",
                    "propertyWithObjectId"
                ],
                "type": "object",
                "properties": {
                    "filterBranchType": {
                        "type": "string",
                        "enum": [
                            "PROPERTY_ASSOCIATION"
                        ],
                        "default": "PROPERTY_ASSOCIATION",
                        "description": "Filter branch type identifier; always 'PROPERTY_ASSOCIATION'."
                    },
                    "filterBranches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicPropertyAssociationFilterBranchFilterBranches"
                        },
                        "description": "Nested filter branches for compound association conditions."
                    },
                    "objectTypeId": {
                        "type": "string",
                        "description": "The ID of the associated object type being filtered."
                    },
                    "filterBranchOperator": {
                        "type": "string",
                        "description": "Logical operator applied across the filter branch conditions."
                    },
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicPropertyAssociationFilterBranchFilters"
                        },
                        "description": "Array of individual filters applied within this branch."
                    },
                    "propertyWithObjectId": {
                        "type": "string",
                        "description": "Property name that holds the associated object's identifier."
                    },
                    "operator": {
                        "type": "string",
                        "description": "Operator defining how the association condition is evaluated."
                    }
                },
                "description": "Filter branch scoped to associated object property conditions."
            },
            "PublicAssociationFilterBranchFilters": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/PublicPropertyFilter",
                        "description": "Filter based on a specific object property value."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAssociationInListFilter",
                        "description": "Filter based on membership in an associated list."
                    },
                    {
                        "$ref": "#/components/schemas/PublicPageViewAnalyticsFilter",
                        "description": "Filter based on page view analytics activity."
                    },
                    {
                        "$ref": "#/components/schemas/PublicCtaAnalyticsFilter",
                        "description": "Filter based on CTA (call-to-action) analytics interactions."
                    },
                    {
                        "$ref": "#/components/schemas/PublicEventAnalyticsFilter",
                        "description": "Filter based on event analytics activity."
                    },
                    {
                        "$ref": "#/components/schemas/PublicFormSubmissionFilter",
                        "description": "Filter based on form submission activity."
                    },
                    {
                        "$ref": "#/components/schemas/PublicFormSubmissionOnPageFilter",
                        "description": "Filter based on form submission on a specific page."
                    },
                    {
                        "$ref": "#/components/schemas/PublicIntegrationEventFilter",
                        "description": "Filter based on third-party integration event activity."
                    },
                    {
                        "$ref": "#/components/schemas/PublicEmailSubscriptionFilter",
                        "description": "Filter based on email subscription status."
                    },
                    {
                        "$ref": "#/components/schemas/PublicCommunicationSubscriptionFilter",
                        "description": "Filter based on communication subscription preferences."
                    },
                    {
                        "$ref": "#/components/schemas/PublicCampaignInfluencedFilter",
                        "description": "Filter based on marketing campaign influence."
                    },
                    {
                        "$ref": "#/components/schemas/PublicSurveyMonkeyFilter",
                        "description": "Filter branch using SurveyMonkey survey criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicSurveyMonkeyValueFilter",
                        "description": "Filter branch using SurveyMonkey response value criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicWebinarFilter",
                        "description": "Filter branch using webinar participation criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicEmailEventFilter",
                        "description": "Filter branch using email event engagement criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicPrivacyAnalyticsFilter",
                        "description": "Filter branch using privacy and analytics consent criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAdsSearchFilter",
                        "description": "Filter branch using ads search interaction criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAdsTimeFilter",
                        "description": "Filter branch using ads time-based criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicInListFilter",
                        "description": "Filter branch matching records included in a specific list."
                    },
                    {
                        "$ref": "#/components/schemas/PublicNumAssociationsFilter",
                        "description": "Filter branch based on the number of associations."
                    },
                    {
                        "$ref": "#/components/schemas/PublicUnifiedEventsFilter",
                        "description": "Filter branch using unified custom event criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicPropertyAssociationInListFilter",
                        "description": "Filter branch matching associated records included in a list."
                    },
                    {
                        "$ref": "#/components/schemas/PublicConstantFilter",
                        "description": "Filter branch applying a constant boolean condition."
                    }
                ],
                "description": "A filter applied within an association branch; one of many supported filter types."
            },
            "PublicNumberPropertyOperation": {
                "title": "NUMBER",
                "required": [
                    "includeObjectsWithNoValueSet",
                    "operationType",
                    "operator",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "includeObjectsWithNoValueSet": {
                        "type": "boolean",
                        "description": "Whether to include records where the property has no value."
                    },
                    "operationType": {
                        "type": "string",
                        "enum": [
                            "NUMBER"
                        ],
                        "default": "NUMBER",
                        "description": "The operation type identifier; always set to \"NUMBER\"."
                    },
                    "value": {
                        "type": "number",
                        "description": "The numeric value to compare against the property."
                    },
                    "operator": {
                        "type": "string",
                        "description": "The comparison operator applied to the numeric property value."
                    }
                },
                "description": "Defines a numeric property filter operation with an operator, value, and null-value handling."
            },
            "PublicUnifiedEventsFilterBranchFilterBranches": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/PublicOrFilterBranch",
                        "description": "A filter branch that combines conditions using OR logic."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAndFilterBranch",
                        "description": "A filter branch that combines conditions using AND logic."
                    },
                    {
                        "$ref": "#/components/schemas/PublicNotAllFilterBranch",
                        "description": "A filter branch that excludes records matching all specified conditions."
                    },
                    {
                        "$ref": "#/components/schemas/PublicNotAnyFilterBranch",
                        "description": "A filter branch that excludes records matching any of the specified conditions."
                    },
                    {
                        "$ref": "#/components/schemas/PublicRestrictedFilterBranch",
                        "description": "A restricted filter branch with limited filtering scope or permissions."
                    },
                    {
                        "$ref": "#/components/schemas/PublicUnifiedEventsFilterBranch",
                        "description": "A filter branch scoped to unified events criteria."
                    },
                    {
                        "$ref": "#/components/schemas/PublicPropertyAssociationFilterBranch",
                        "description": "A filter branch based on property association conditions."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAssociationFilterBranch",
                        "description": "A filter branch based on object association relationships."
                    }
                ],
                "description": "A polymorphic filter branch supporting OR, AND, NOT ALL, NOT ANY, restricted, unified events, property association, and association branch types."
            },
            "PublicYearReference": {
                "title": "YEAR",
                "required": [
                    "day",
                    "month",
                    "referenceType"
                ],
                "type": "object",
                "properties": {
                    "hour": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The hour component of the year reference time."
                    },
                    "month": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The month component of the year reference date."
                    },
                    "millisecond": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The millisecond component of the year reference time."
                    },
                    "referenceType": {
                        "type": "string",
                        "enum": [
                            "YEAR"
                        ],
                        "default": "YEAR",
                        "description": "Identifies the reference type; always set to 'YEAR'."
                    },
                    "day": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The day component of the year reference date."
                    },
                    "minute": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The minute component of the year reference time."
                    },
                    "second": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The second component of the year reference time."
                    }
                },
                "description": "A date/time reference anchored to a specific year, with optional time components."
            },
            "PublicInListFilterMetadata": {
                "required": [
                    "id",
                    "inListType"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the target list."
                    },
                    "inListType": {
                        "type": "string",
                        "description": "The type classification of the in-list filter condition."
                    }
                },
                "description": "Metadata describing a filter condition that checks membership in a list."
            },
            "ListFolderFetchResponse": {
                "required": [
                    "folder"
                ],
                "type": "object",
                "properties": {
                    "folder": {
                        "$ref": "#/components/schemas/PublicListFolder"
                    }
                },
                "description": "Response containing a single retrieved list folder object."
            },
            "PublicRangedDatePropertyOperation": {
                "title": "RANGED_DATE",
                "required": [
                    "includeObjectsWithNoValueSet",
                    "lowerBound",
                    "operationType",
                    "operator",
                    "requiresTimeZoneConversion",
                    "upperBound"
                ],
                "type": "object",
                "properties": {
                    "includeObjectsWithNoValueSet": {
                        "type": "boolean",
                        "description": "Whether to include objects with no value set for this property"
                    },
                    "upperBound": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The upper bound of the date range as an integer value"
                    },
                    "requiresTimeZoneConversion": {
                        "type": "boolean",
                        "description": "Whether the date value requires time zone conversion"
                    },
                    "operationType": {
                        "type": "string",
                        "enum": [
                            "RANGED_DATE"
                        ],
                        "default": "RANGED_DATE",
                        "description": "The operation type identifier, always set to RANGED_DATE"
                    },
                    "lowerBound": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The lower bound of the date range as an integer value"
                    },
                    "operator": {
                        "type": "string",
                        "description": "The comparison operator applied to the ranged date property"
                    }
                },
                "description": "A property operation that filters records where a date value falls within a specified range."
            },
            "ListSearchRequest": {
                "type": "object",
                "properties": {
                    "listIds": {
                        "type": "array",
                        "description": "The _listIds_ that will be used to filter results by _listId_. If values are provided, then the response will only include results that have a _listId_ in this array.\n\nIf no value is provided, or if an empty list is provided, then the results will not be filtered by _listId_",
                        "items": {
                            "type": "string"
                        }
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Value used to paginate through lists. The _offset_ provided in the response can be used in the next request to fetch the next page of results. Defaults to _0_ if no offset is provided",
                        "format": "int32"
                    },
                    "query": {
                        "type": "string",
                        "description": "The _query_ that will be used to search for lists by list name. If no _query_ is provided, then the results will include all lists"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The number of lists to include in the response. Defaults to _20_ if no value is provided. The max _count_ is _500_",
                        "format": "int32"
                    },
                    "processingTypes": {
                        "type": "array",
                        "description": "The _processingTypes_ that will be used to filter results by _processingType_. If values are provided, then the response will only include results that have a _processingType_ in this array.\n\nIf no value is provided, or if an empty list is provided, then results will not be filtered by _processingType_.\n\nValid _processingTypes_ are: _MANUAL_, _SNAPSHOT_, or _DYNAMIC_",
                        "items": {
                            "type": "string"
                        }
                    },
                    "additionalProperties": {
                        "type": "array",
                        "description": "The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.\n\nBy default, all requests will fetch the following properties for each list: _hs_list_size_, _hs_last_record_added_at_, _hs_last_record_removed_at_, _hs_folder_name_, and _hs_list_reference_count_",
                        "items": {
                            "type": "string"
                        }
                    },
                    "sort": {
                        "type": "string",
                        "description": "The field by which to sort the returned list results"
                    }
                },
                "description": "Request body for searching and filtering lists by name, ID, or processing type, with pagination and additional property support"
            },
            "ListSearchResponse": {
                "required": [
                    "hasMore",
                    "lists",
                    "offset",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "The total number of lists that match the search criteria",
                        "format": "int32"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Value to be passed in a future request to paginate through list search results",
                        "format": "int32"
                    },
                    "lists": {
                        "type": "array",
                        "description": "The lists that matched the search criteria",
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectListSearchResult"
                        }
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "Whether or not there are more results to page through"
                    }
                },
                "description": "Response object containing matched lists, pagination details, and total result count for a list search query"
            },
            "PublicInListFilter": {
                "title": "IN_LIST",
                "required": [
                    "filterType",
                    "listId",
                    "operator"
                ],
                "type": "object",
                "properties": {
                    "listId": {
                        "type": "string",
                        "description": "The unique identifier of the list used for membership filtering"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PublicInListFilterMetadata",
                        "description": "Additional metadata associated with the in-list filter"
                    },
                    "filterType": {
                        "type": "string",
                        "enum": [
                            "IN_LIST"
                        ],
                        "default": "IN_LIST",
                        "description": "The filter type identifier, always set to IN_LIST"
                    },
                    "operator": {
                        "type": "string",
                        "description": "The operator used to evaluate list membership"
                    }
                },
                "description": "Filter that matches contacts or objects based on membership in a specified list"
            },
            "PublicSurveyMonkeyValueFilter": {
                "title": "SURVEY_MONKEY_VALUE",
                "required": [
                    "filterType",
                    "operator",
                    "surveyId",
                    "surveyQuestion",
                    "valueComparison"
                ],
                "type": "object",
                "properties": {
                    "valueComparison": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PublicBoolPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicNumberPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicStringPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicDateTimePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicComparativePropertyUpdatedOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicComparativeDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRollingDateRangePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRollingPropertyUpdatedOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicEnumerationPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicAllPropertyTypesOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedNumberPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicMultiStringPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicCalendarDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicTimePointOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedTimeOperation"
                            }
                        ],
                        "description": "The property operation used to compare the survey response value"
                    },
                    "surveyId": {
                        "type": "string",
                        "description": "The unique identifier of the SurveyMonkey survey"
                    },
                    "surveyQuestion": {
                        "type": "string",
                        "description": "The survey question whose response value is being evaluated"
                    },
                    "filterType": {
                        "type": "string",
                        "enum": [
                            "SURVEY_MONKEY_VALUE"
                        ],
                        "default": "SURVEY_MONKEY_VALUE",
                        "description": "The filter type identifier, always set to SURVEY_MONKEY_VALUE"
                    },
                    "surveyAnswerRowId": {
                        "type": "string",
                        "description": "The row identifier for a specific survey answer in a matrix question"
                    },
                    "surveyAnswerColId": {
                        "type": "string",
                        "description": "The column ID of the survey answer to filter on."
                    },
                    "operator": {
                        "type": "string",
                        "description": "The comparison operator applied to the survey answer value."
                    }
                },
                "description": "Filter that evaluates contacts based on a specific SurveyMonkey survey response value"
            },
            "PublicRelativeComparativeTimestampRefineBy": {
                "title": "RELATIVE_COMPARATIVE",
                "required": [
                    "comparison",
                    "timeOffset",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "comparison": {
                        "type": "string",
                        "description": "The comparison direction applied to the relative time offset."
                    },
                    "timeOffset": {
                        "$ref": "#/components/schemas/PublicTimeOffset",
                        "description": "The relative time offset used for the timestamp comparison."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "RELATIVE_COMPARATIVE"
                        ],
                        "default": "RELATIVE_COMPARATIVE",
                        "description": "Discriminator identifying this refine-by type as RELATIVE_COMPARATIVE."
                    }
                },
                "description": "Refines a timestamp filter using a relative comparative offset and comparison type."
            },
            "ListsByIdResponse": {
                "required": [
                    "lists"
                ],
                "type": "object",
                "properties": {
                    "lists": {
                        "type": "array",
                        "description": "The object list definitions",
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectList"
                        }
                    }
                },
                "description": "Response containing an array of object list definitions retrieved by ID."
            },
            "PublicCommunicationSubscriptionFilter": {
                "title": "COMMUNICATION_SUBSCRIPTION",
                "required": [
                    "acceptedOptStates",
                    "channel",
                    "filterType",
                    "subscriptionIds",
                    "subscriptionType"
                ],
                "type": "object",
                "properties": {
                    "subscriptionType": {
                        "type": "string",
                        "description": "The type of communication subscription to filter on."
                    },
                    "subscriptionIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of subscription IDs to include in the filter criteria."
                    },
                    "channel": {
                        "type": "string",
                        "description": "The communication channel associated with the subscription filter."
                    },
                    "acceptedOptStates": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "The opt-in states that are accepted by this subscription filter."
                    },
                    "filterType": {
                        "type": "string",
                        "enum": [
                            "COMMUNICATION_SUBSCRIPTION"
                        ],
                        "default": "COMMUNICATION_SUBSCRIPTION",
                        "description": "Discriminator identifying this filter type as COMMUNICATION_SUBSCRIPTION."
                    },
                    "businessUnitId": {
                        "type": "string",
                        "description": "The business unit ID scoping this subscription filter."
                    }
                },
                "description": "Filter that matches records based on communication subscription status, channel, and opt-in state."
            },
            "PublicNotAllFilterBranchFilters": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/PublicPropertyFilter",
                        "description": "A property-based filter applied within the NOT ALL filter branch."
                    },
                    {
                        "$ref": "#/components/schemas/PublicAssociationInListFilter",
                        "description": "An association-in-list filter applied within the NOT ALL filter branch."
                    },
                    {
                        "$ref": "#/components/schemas/PublicPageViewAnalyticsFilter",
                        "description": "A page view analytics filter applied within the NOT ALL filter branch."
                    },
                    {
                        "$ref": "#/components/schemas/PublicCtaAnalyticsFilter",
                        "description": "A CTA analytics filter applied within the NOT ALL filter branch."
                    },
                    {
                        "$ref": "#/components/schemas/PublicEventAnalyticsFilter",
                        "description": "An event analytics filter applied within the NOT ALL filter branch."
                    },
                    {
[...]
